body {
    font-family: "DM Sans", serif;
    background-image: url("/images/background.jpg");
    background-size: cover;
    font-weight: bold;
    text-align: center;
    color: white;
    display: flex; 
    flex-wrap: wrap; 
    align-items: center;
    justify-content: flex-start;
}

.nameTitle-container {
    width: 900px;
}

#me {
    padding-top: 80px;
    font-size: 50px;
    padding-left: 10px;
    padding-right: 1px;
    margin-top: 10px;
    align-items: center;
}

#description {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: italic;
    font-size: 25px;
    position: static;
    font-size: 30px;
    margin-top: -30px;
    padding-left: 10px;
    padding-right: 1px;
    align-items: center;
}

.aboutMe-container {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    width: 480px;
}

#journey {
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    text-align: left;
    padding-left: 50px;
    display: flex;
}

#story {
    position: static;
    font-weight: 400;
    font-size: 25;
    text-align: justify;
    text-align: left;
    position: static;
}