body {
    font-family: "DM Sans", serif;
    background-image:url("/images/background.jpg");
    background-size: cover;
    font-weight: Bold;
    text-align: center;
    color: white;
    display: flex; 
    flex-wrap: wrap; 
    align-items: center;
    justify-content: flex-start;
}

header {
    position: fixed; 
    top: 0; 
    right: 0; 
    width: 100%;
    background-color: #43434378; 
    color: white;
    padding: 10px 20px;
    display: flex; 
    justify-content: right; 
    align-items: center; 
    z-index: 1000;
    margin: 0;
}

.navbar {
    width: 100%; 
    max-width: 1200px;
}

.nav-list {
    list-style: none; 
    display: flex;
    justify-content: right;
    gap: 50px;
    margin: 30;
    padding: 0;
}

.nav-list a {
    text-decoration: none; 
    color: white; 
    font-size: 20px;
    font-weight: 300;
    padding: 5px 10px; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.nav-list a:hover {
    background-color: #ffffff; 
    color: #385931; 
    border-radius: 5px; 
    font-weight: bold;
}

.nav-list a.active {
    font-weight: bold;
    color: #437f37; 
    border-bottom: 2px solid #ffffff; 
}

#name {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    position: static;
    text-align: left;
    padding-top: 80px;
    font-size: 150px;
    padding-left: 10px;
    padding-right: 1px;
    margin-top: 10px;
}

#title {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    position: static;
    text-align: left;
    font-size: 30px;
    margin-top: -120px;
    padding-left: 10px;
    padding-right: 1px;
    display: flex;
}

.introContainer{
    width: 900px;
}

#introduction {
    font-family: "DM Sans", serif;
    font-size: 44px; 
    font-weight: 300;
    text-align: justify;
    padding-top: 25px;
    padding-left: 10px;
}

.vinyl-container{
    display: flex;
    flex-direction: column; /* Stack vinyl and audio vertically */
    align-items: center;
    margin-left: 270px;
    width: 300px;
    text-align: center;
}

.vinyl {
    width: 100%;
    border-radius: 50%;
    animation: spin 5s linear infinite;
    pointer-events: none;
}

.audio-player {
    margin-top: 20px;
    z-index: 10; 
}

.vinyl-container:hover .vinyl {
    animation-play-state: paused;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

